<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Inventory</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/gh/iconoir-icons/iconoir@main/css/iconoir.css" rel="stylesheet"/>
    <link href="https://fonts.font.im/css2?family=Liu+Jian+Mao+Cao" rel="stylesheet">
</head>

<!--/*@thymesVar id="language" type="pixel.nexa.core.resource.AbstractLanguage"*/-->
<!--/*@thymesVar id="assetsMap" type="pixel.nexa.core.resource.AssetsMap"*/-->
<!--/*@thymesVar id="MessageFragments" type="pixel.nexa.network.message.MessageFragments"*/-->
<!--/*@thymesVar id="ItemProperties" type="pixel.nexa.plugin.adventure.entity.item.Item.Properties.Companion"*/-->
<!--/*@thymesVar id="items" type="java.util.List<java.util.List<pixel.nexa.plugin.adventure.entity.item.ItemStack>>"*/-->
<body class="font-sans leading-normal tracking-normal flex items-center justify-center h-screen"
      style="background: linear-gradient(45deg, #52a4ff, #00e3ff);">
<script>
    window.nexa = {
        screenshot: {
            selector: "#inventory"
        }
    };
</script>
<div id="inventory" style="padding: 1rem; background: linear-gradient(45deg, #52a4ff, #00e3ff);">
    <div class="shadow-lg rounded-lg p-4 max-w-sm w-full border border-gray-300"
         style="background: rgba(255, 255, 255, 85%);">
        <div class="flex justify-between items-center mb-2">
            <div class="flex items-center space-x-2">
                <i class="iconoir-cube-hole text-2xl"></i>
                <span class="font-bold text-sm" th:text="${language['text.nexa-adventure.inventory']}"/>
            </div>
        </div>
        <div class="text-xs text-gray-600 mb-2"></div>
        <div class="flex justify-between items-center" th:if="${!items.isEmpty()}">
            <div class="text-xl text-gray-600" th:text="${language['text.nexa-adventure.item']}"/>
        </div>
        <div class="flex justify-between items-center mb-2 text-gray-600" th:each="chunk : ${items}">
            <div th:each="item : ${chunk}" class="flex justify-between mb-2">
                <img style="height: 4rem; width: 4rem; image-rendering: pixelated;" th:src="${assetsMap.getTextureAsUrl('item', item.getItem().getRegistry().get(item.getItem()), '.png')}" alt="Item Icon" onerror="src = 'https://via.placeholder.com/60';"/>
                <div class="px-2 py-2">
                    <div class="text-base font-bold text-gray-700">
                        <span th:utext="${item.getNameWithCount().asText(language)}" th:classappend="${item.getDataComponents().isEmpty()} ? '' : 'italic'"></span>
                        <span th:text="'(' + ${item.getItem().getRegistry().get(item.getItem())} + ')'" class="text-gray-500"/>
                        <i class="iconoir-star-solid" style="color: #eab20e;" th:each="i : ${#numbers.sequence(0, ItemProperties.copy(item.asItem()).rarity() - 1)}"></i>
                    </div>
                    <div class="text-base text-sm" th:utext="${MessageFragments.multiple(item.getTooltip()).asText(language)}"></div>
                </div>
            </div>
        </div>
        <div class="flex justify-between items-center">
            <div class="text-xs text-gray-600">GENERATED BY NEXA</div>
            <div class="px-2"></div>
            <div class="text-xs text-gray-600">COPYRIGHT © PixelVoyagers</div>
        </div>
    </div>
</div>
</body>

</html>