<!--suppress ThymeleafVariablesResolveInspection -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Profile</title>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/gh/iconoir-icons/iconoir@main/css/iconoir.css" rel="stylesheet"/>
    <link href="https://fonts.font.im/css2?family=Liu+Jian+Mao+Cao" rel="stylesheet">
</head>

<!--/*@thymesVar id="language" type="pixel.nexa.core.resource.asset.AbstractLanguage"*/-->
<!--/*@thymesVar id="profileType" type="java.lang.String"*/-->
<!--/*@thymesVar id="userAvatarUrl" type="java.lang.String"*/-->
<!--/*@thymesVar id="userName" type="java.lang.String"*/-->
<!--/*@thymesVar id="userBarCode" type="java.lang.String"*/-->
<!--/*@thymesVar id="userPlatform" type="java.lang.String"*/-->
<!--/*@thymesVar id="userId" type="java.lang.String"*/-->
<!--/*@thymesVar id="userProfileEntries" type="java.util.List<kotlin.Triple<kotlin.Pair<java.lang.String, java.lang.String>, kotlin.Pair<java.lang.String, java.lang.String>?, kotlin.Pair<java.lang.String, java.lang.String>?>>"*/-->
<body class="font-sans leading-normal tracking-normal flex items-center justify-center h-screen"
      style="background: linear-gradient(45deg, #52a4ff, #00ffbd);">
<script>
    window.nexa = {
        screenshot: {
            selector: "#id-card"
        }
    };
</script>
<div id="id-card" style="padding: 1rem; background: linear-gradient(45deg, #52a4ff, #00ffbd);">
    <div class="shadow-lg rounded-lg p-4 max-w-sm w-full border border-gray-300"
         style="background: rgba(255, 255, 255, 85%);">
        <div class="flex justify-between items-center mb-2">
            <div class="flex items-center space-x-2">
                <i class="iconoir-rocket text-2xl" style="transform: rotate(45deg);"></i>
                <span class="font-bold text-sm" th:text="${language['text.profile.e-profile']}"/>
            </div>
            <span class="text-sm font-bold" th:text="${profileType}"/>
        </div>
        <div class="text-xs text-gray-600 mb-2"></div>
        <div class="flex items-center mb-4 justify-between">
            <div class="flex items-center">
                <img alt="Profile Image" class="w-16 h-16 rounded-full border border-gray-300"
                     onerror="src = 'https://via.placeholder.com/60';"
                     th:src="${userAvatarUrl}">
                <div class="ml-4">
                    <div class="text-xl font-bold" th:text="${userName}"/>
                </div>
            </div>
            <img alt="Bar Code" class="w-10 h-16"
                 onerror="src = 'https://via.placeholder.com/60';"
                 style="background: rgba(255, 255, 255, 85%);"
                 th:src="${userBarCode}">
        </div>
        <div class="flex justify-between items-center mb-2">
            <div class="text-sm text-gray-600 flex mb2">
                <div class="text-sm text-gray-600">ID Code</div>
                <div class="text-sm font-bold px-2">
                    <span th:text="${userPlatform}"/>:
                    <span th:text="${userId}"/>
                </div>
            </div>
            <div class="text-sm text-gray-600">II - Verification</div>
        </div>
        <div class="flex justify-between items-center mb-2">
            <div class="text-sm text-gray-600">E-Signature</div>
            <div class="text-xl font-bold" style="font-family: 'Liu Jian Mao Cao', cursive;" th:text="${userName}"/>
        </div>
        <div class="flex justify-between items-center mb-2 text-gray-600" th:each="chunk : ${userProfileEntries}">
            <div class="px-2 py-2">
                <div class="text-base font-bold" th:utext="${chunk.first.first}"></div>
                <div class="text-base" th:utext="${chunk.first.second}"></div>
            </div>
            <div class="px-2 py-2" th:if="${chunk.second != null}">
                <div class="text-base font-bold" th:utext="${chunk.second.first}"></div>
                <div class="text-base" th:utext="${chunk.second.second}"></div>
            </div>
            <div class="px-2 py-2" th:if="${chunk.third != null}">
                <div class="text-base font-bold" th:utext="${chunk.third.first}"></div>
                <div class="text-base" th:utext="${chunk.third.second}"></div>
            </div>
        </div>
        <div class="flex justify-between items-center">
            <div class="text-xs text-gray-600">GENERATED BY NEXA</div>
            <div class="text-xs text-gray-600">COPYRIGHT © PixelVoyagers</div>
        </div>
    </div>
</div>
</body>

</html>